
services:
  # 1. Service Aplikasi (PHP-FPM)
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile.prod
    container_name: akreditasi_app
    restart: unless-stopped
    volumes:
      - ./.env:/var/www/html/.env
      # - .:/var/www/html # Sinkronisasi kode dari lokal ke container (Matikan di production jika ingin pakai image build)
    networks:
      - akreditasi-network

  # 2. Service Web Server (Nginx)
  web:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "8081:80" # Docker jalan di 8081, Nginx Server yang handle 80/443 + SSL
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/datapustaka.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - akreditasi-network

  # 3. Service Database (MySQL)
  db:
    image: mysql:8.0
    container_name: akreditasi_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "33066:3306"
    networks:
      - akreditasi-network

  # 4. Service Adminer (Database Management)
  adminer:
    image: adminer
    container_name: akreditasi_adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - akreditasi-network

  # 5. Service Redis (Cache & Queue)
  redis:
    image: redis:alpine
    container_name: akreditasi_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - akreditasi-network

networks:
  akreditasi-network:
    driver: bridge

volumes:
  db_data:
    driver: local
