

services:
  # 1. Service Aplikasi (PHP-FPM)
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile.dev
    container_name: laravel_app
    restart: unless-stopped
    volumes:
      - .:/var/www/html/datapustaka # Sinkronisasi kode dari lokal ke container
    networks:
      - laravel

  # 2. Service Web Server (Nginx)
  web:
    image: nginx:alpine
    container_name: laravel_web
    restart: unless-stopped
    ports:
      - "80:80" # Akses dari browser via http://localhost atau domain
    volumes:
      - .:/var/www/html/datapustaka
      - ./.docker/nginx/datapustaka.conf:/etc/nginx/conf.d/datapustaka.conf
    depends_on:
      - app
    networks:
      - laravel

  # 3. Service Database (MySQL)
  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "33066:3306"
    networks:
      - laravel

  # 4. Service Adminer (Database Management)
  adminer:
    image: adminer
    container_name: laravel_adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  db_data:
    driver: local
